.button {
  border-radius: 3px;
  background: #1C78C0;
  color: #ffffff;
  padding: 5px 10px;
  font-weight: 300;
  font-family: helvetica, arial, 'sans-serif';

  &:hover {
    cursor: pointer;
  }
}
